{% extends 'base.html' %} {% block title %}Cart{% endblock %} {% load static %}
{%block content%}

<div class="container border my-2 mb-10">
    <h1>Here is Your Complete Order Details.</h1>
<table class="table table-hover my-2 mb-5 table-light">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
  {% if single %}
    <tr>
      <td>{{cart.product.name}}</td>
      <td>{{cart.product.price}}</td>
      <td>{{cart.quantity}}</td>
    </tr>
  {% else %}
  {% for item in cart %}
    <tr>
      <td>{{item.product.name}}</td>
      <td>{{item.product.price}}</td>
      <td>{{item.quantity}}</td>
    </tr>
    {% endfor %}
    {% endif %}
    <tr>
      <th scope="row" colspan="1">Total</th>
      <td class="table-active">{{total}}</td>
      <td></td>
    </tr>
  </tbody>
</table>
<div class="container">
    <h4>Select Address:</h4>
    {% for address in addresses %}
    <div class="form-check">
    {% if address.default %}
  <input class="form-check-input" type="radio" name="{{address.id}}" id="{{address.id}}" checked>
  {% else %}
  <input class="form-check-input" type="radio" name="{{address.id}}" id="{{address.id}}" >
  {% endif %}
  <label class="form-check-label" for="flexRadioDefault1">
    <div class="card my-2">
  <div class="card-body w-auto">
    <p>{{address.pincode}}<p>
    <span>{{address.landmark}}</span>
  </div>
</div>
  </label>
</div>
    {% endfor %}
<a href="/add-address/" class="btn btn-dark ms-auto p-2">Add New Address</a>
</div>
<hr>
<div class="d-flex mb-3">
<a href="/products" class="btn btn-dark p-2"> <- Go Back </a>
<a href="/products/buy/" class="btn btn-dark ms-auto p-2">Place Order</a>
</div>
<hr>
</div>

{%endblock%}